.navbar {
  margin-bottom: 0;
}
.navbar-default {
  background-color: #2c3e50;
  border-color: #2c3e50;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
  color: white;
  cursor: default;
}
.navbar-default .navbar-nav>li>a {
  color: white;
  cursor: pointer;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #ddd;
}
.navbar-default .navbar-nav>li>a:focus {
  outline-color: white;
}

html {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
body {
  height: 100%;
  width: 100%;
  padding-top: 50px;
  font-family: 'Open Sans', Arial, sans-serif;
}
#map {
  height: 100%;
  width: 100%;
}

.info {
padding: 6px 8px;
font: 14px/16px 'Open Sans', Arial, Helvetica, sans-serif;
background: white;
background: rgba(255,255,255,1);
box-shadow: 0px 2.5px 5px 0px rgba(48,48,48,0.85);
max-width: 400px;
}
.info h4 {
margin: 0;
font-size: 1.6em;
font-family: 'Roboto Slab';
font-weight: 700;
}
.info hr {
  margin-top: 4px;
  margin-bottom: 2px;
  border: hidden;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ddd;
}

.leaflet-container {
      font: 14px/16px 'Open Sans', Arial, Helvetica, sans-serif;
}
.leaflet-control-layers,
.leaflet-control-measure,
.leaflet-popup-content-wrapper,
.leaflet-bar a:first-child,
.leaflet-bar a:last-child {
  border-radius: 0;
  box-shadow: 0px 2.5px 5px 0px rgba(48,48,48,0.85);
}
.leaflet-control-measure .leaflet-control-measure-toggle {
  height: 26px;
  width: 26px;
}

.legendIcon {
  width: 28px;
  height: 18px;
  float: left;
  margin-right: 12px;
  opacity: 0.7;
}

.modal-content {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

#slopeLegendSmall{
  background-color: #639B7E;
}
#slopeLegendBig{
  background-color: #C5A8C4;
}
#potentialTrailFull {
  background-color: #FF9900;
}
#potentialTrailPart {
  background-color: #FFFF99;
}
#existingPaths {
  background-color: #8353FC;
}
#wmaBounds {
  background-color: black;
}
#wmaTicks {
  border-style: dashed;
  border-width: 2px;
  border-color: white;
  width: 26px;
  height: 16px;
  margin-top: 1px;
  margin-left: 1px;
}

@media (min-width: 768px){
  .modal-dialog-narrow {
    width: 300px;
  }
  .navbar-nav {
    float: right;
  }
}
.tabbable>.nav {
  margin-bottom: 10px;
}
.embed-responsive {
  margin-top: 8px;
}
.btn-primary {
  background-color: #34495e;
  border-color: #2c3e50;
}
